data/
.vscode/settings.json
__pycache__/
*.py[cod]
*$py.class
.DS_Store

*.sqlite3
.python-version
.venv
.coverage

.dir-locals.el
.vscode
.idea
.tern*

.env

staticfiles/
template-versions/


*.swp

data/
*.csv.xz
