ALLOWED_HOSTS=*
CORS_ALLOWED_ORIGINS=http://localhost:4200,http://127.0.0.1:5000
DATABASE_URL=postgres://postgres:supersecret@db/sniper
DEBUG=True
GRAPH_DATABASE_URL=postgres://postgres:pgpass@graph_db/graphdb
KEYCLOAK_CHECK_USER_PROFILE=False
KEYCLOAK_CLIENT_ID=sniper-backend
KEYCLOAK_CLIENT_SECRET_KEY=secret_key
KEYCLOAK_ENABLE_MIDDLEWARE=True
KEYCLOAK_REALM_NAME=pdpj
KEYCLOAK_SERVER_URL=http://keycloak:8080/auth/
REDIS_URL=redis://redis:6379/
SECRET_KEY=suuuuupersecret
TERMS_ACCEPTED_ENABLE_MIDDLEWARE=True
SISBAJUD_USERNAME=username
SISBAJUD_PASSWORD=password
SISBAJUD_CLIENT_ID=1234
SISBAJUD_CLIENT_SECRET=secret
SISBAJUD_API_URL=http://fakeapi/sisbajud/
MARKETPLACE_URL=http://fakeapi/marketplace/
OPENID_AUTH_URL=http://keycloak:8080/auth/realms/pje/protocol/openid-connect/token/
OPENID_AUTH_URL_STG=https://sso.stg.cloud.pje.jus.br/auth/realms/pje/protocol/openid-connect/token/
INFOJUD_API_URL=http://fakeapi/infojud/

CABECALHO_PROCESSUAL_API_URL_DEV="http://fakeapi/cabecalho-processual/"
CABECALHO_PROCESSUAL_API_URL_PRD="https://gateway.cloud.pje.jus.br/cabecalho-processual/"
CABECALHO_PROCESSUAL_API_URL_STG="https://gateway.stg.cloud.pje.jus.br/cabecalho-processual/"
CABECALHO_PROCESSUAL_API_URL=$CABECALHO_PROCESSUAL_API_URL_DEV
CABECALHO_PROCESSUAL_CLIENT_ID=xxxxx
CABECALHO_PROCESSUAL_CLIENT_SECRET=xxxxxx
CABECALHO_PROCESSUAL_TOKEN_URL_DEV="http://fakeapi/none"
CABECALHO_PROCESSUAL_TOKEN_URL_PRD="https://sso.cloud.pje.jus.br/auth/realms/pje/protocol/openid-connect/token"
CABECALHO_PROCESSUAL_TOKEN_URL_STG="https://sso.stg.cloud.pje.jus.br/auth/realms/pje/protocol/openid-connect/token"
CABECALHO_PROCESSUAL_TOKEN_URL=$CABECALHO_PROCESSUAL_TOKEN_URL_DEV
CABECALHO_PROCESSUAL_ENABLE="True"

SISBAJUD_CONTAS_ENABLE="True"
SISBAJUD_ORDENS_ENABLE="True"
INFOJUD_ENABLE="True"

OPENSEARCH_URL=opensearch
OPENSEARCH_PORT=9200
OPENSEARCH_USER=admin
OPENSEARCH_PASSWORD=123S!c456

WEB_WORKERS=1
AUDITORIA_ENABLE="False"
