<div class="snack-messenger-container">
  <div class="snack-messenger-div-content">
    <div class="snack-messenger-div-icon">
      <mat-icon [className]="data?.message.icon"></mat-icon>
    </div>
    <div class="snack-messenger-div-text-messages">
      <span class="snack-messenger-text" [innerHTML]="data?.message.text"></span>
    </div>
  </div>
  <div class="snack-messenger-div-close-button">
    <button mat-button class="snack-messenger-close-button" (click)="close()">{{data?.message.action}}</button>
  </div>
</div>