.snack-messenger-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: var(--color-bg);
}

.snack-messenger-div-content, .snack-messenger-div-close-button, .snack-messenger-div-icon{
    display: flex;
    align-self: center;
}

.snack-messenger-text {
    margin-left: 10px;
    margin-right: 7px;
}

.snack-messenger-close-button {
    border-color: #F5F5F5;
}

.snack-messenger-div-text-messages {
    display: flex;
    flex-direction: column;
}