.dropdown-list .mat-line {
  padding-bottom: .5rem;
  .mat-slider-horizontal {
    cursor: pointer;
  }
}

.dropdown-list p {
  gap: 1rem;
}

.mat-icon-button {
  border-radius: 0rem;
  font-size: .8em;
}